@charset 'utf-8';
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
html,
body {
  width: 100%;
  height: 100%;
  background: url("../img/bg.jpg");
}
.wrapper {
  padding: 45px 20px;
}
h3 {
  line-height: 40px;
  color: #5173c3;
}
.panel-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.panel a {
  width: 100px;
  height: 60px;
  border-radius: 10px;
  background: #f7d370;
  margin: 5px;
  text-align: center;
  font-size: 12px;
  line-height: 60px;
  color: #5173c3;
  border-bottom: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  position: relative;
  overflow: hidden;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}
.panel a:hover {
  color: #0cf;
}
.panel a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #6cf;
  height: 2px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.panel a:hover:before,
.panel a:focus:before,
.panel a:active:before {
  left: 0;
  right: 0;
}
#forkongithub{
  position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 200px;
    overflow: hidden;
    height: 200px;
}
#forkongithub a {
  background: #000;
  color: #fff;
  text-decoration: none;
  font-family: arial, sans-serif;
  text-align: center;
  font-weight: bold;
  padding: 5px 40px;
  font-size: 14px;
  /* line-height: 2rem; */
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 160px;
  position: absolute;
  top: 50px;
  right: -60px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  box-shadow: 4px 4px 10px rgba(0,0,0,0.8);
}

#forkongithub a:hover,
#forkongithub a:focus,
#forkongithub a:active {
  background: #2098d1;
  color: #fff;
}

#forkongithub a::before,
#forkongithub a::after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  top: 1px;
  left: 0;
  height: 1px;
  background: #fff;
}

#forkongithub a::after {
  bottom: 1px;
  top: auto;
}
